.header__lang-link {
  width: 30px;
  margin: 0 18px 0 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-align: right;
  text-decoration: none;
  transition: opacity 0.1s linear 0s;
  opacity: 1;
}

.header__lang-link:hover {
opacity: 0.8;
}

.header__lang-link:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
