.photo-grid {
  margin: auto;
  width: calc(100% - 48px * 2);
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .photo-grid {
    width: calc(100% - 48px * 2);
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .photo-grid {
    width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    width: calc(100% - 16px * 2);
  }
}
