.intro__text {
  width: 690px;
  min-height: 58px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin: 0 0 33px;
}
