.footer {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 48px * 2);
  margin: auto;
  padding: calc(92px / 2) 0 24px;
}

@media screen and (max-width: 1023px) {
  .footer {
    width: calc(100% - 24px * 2);
    padding: calc(88px / 2) 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    width: calc(100% - 16px * 2);
    flex-direction: column;
    padding: calc(64px / 2) 0 24px;
    row-gap: 48px;
  }
}
