.footer {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 48px * 2);
  margin: auto;
  padding: 92px 0 24px;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .footer {
    width: calc(100% - 24px * 2);
    padding: 88px 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    width: calc(100% - 16px * 2);
    flex-direction: column;
    padding: 64px 0 24px;
    row-gap: 48px;
  }
}
