.place__item {
  width: 100%;
  display: grid;
  grid-template-columns: fit-content(460px) fit-content(484px);
  grid-column-gap: 40px;
  row-gap: 48px;
  justify-content: center;
  margin-bottom: 80px;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .place__item {
    grid-template-columns: minmax(340px, auto) minmax(352px, auto);
    grid-column-gap: 28px;
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 767px){
  .place__item {
    grid-template-columns: minmax(288px, auto);
    row-gap: 32px;
    margin-bottom: 50px;
  }
}
